<footer class="footer-blocks footer">
  <div class="container">
    <div class="footer-blocks-container">
      {% if page.footer_one %}
        <div class="footer-block footer-one">
          {{ page.footer_one }}
        </div>
      {% endif %}
      {% if page.footer_two %}
        <div class="footer-block footer-two">
          {{ page.footer_two }}
        </div>
      {% endif %}
      {% if page.footer_three %}
        <div class="footer-block footer-three">
          {{ page.footer_three }}
        </div>
      {% endif %}
      {% if page.footer_four %}
        <div class="footer-block footer-four">
          {{ page.footer_four }}
        </div>
      {% endif %}
    </div><!-- /footer-top-container -->
  </div><!-- /container -->
</footer><!-- /footer-top -->
