<footer class="footer-top footer">
  <div class="container">
    <div class="footer-top-container">
      {{ page.footer_top }}
    </div><!-- /footer-top-container -->
  </div><!-- /container -->
</footer><!-- /footer-top -->
