  /* Header */
  .page-header {
    padding: 0 0 1rem 0 !important;
  }
.header-container {
    padding: 1rem 0 0 0 !important;
}
.front-ads-bydate-desktop td{
	width: 14%;
	text-align:center;
}
.front-ads-bydate-mobile td{
	width: 24%;
	text-align:center;
	font-size:12px;
}
