{#
/**
 * @file
 * AdSense CSE v2 search box HTML code.
 */
#}
<script async src='https://cse.google.com/cse.js?cx=partner-{{ client }}:{{ slot }}'></script><div class="gcse-searchbox-only" data-resultsUrl="/csev2/results/{{ slot }}"></div>
