{#
/**
 * @file
 * AdSense HTML wrapper.
 */
#}
<div {% if classes %}class="{{ classes }}"{% endif %}>
  <div class="{{ adclasses }}" {% if style %}style="{{ style }}"{% endif %}>
    {{ content }}
  </div>
</div>
