{#
/**
 * @file
 * AdSense CSE v1 results HTML code.
 */
#}
<div id="cse-search-results"></div>
<script type="text/javascript">
  var googleSearchIframeName = "cse-search-results";
  var googleSearchFormName = "cse-search-box";
  var googleSearchFrameWidth = {{ width }};
  var googleSearchDomain = "{{ country }}";
  var googleSearchPath = "/cse";
</script>
<script type="text/javascript" src="{{ script }}"></script>