{% if page.footer_top %}
  {% include '@thex/template-parts/footer/footer-top.html.twig' %}
{% endif %}
{% if page.footer_one or page.footer_two or page.footer_three or page.footer_four %}
  {% include '@thex/template-parts/footer/footer-blocks.html.twig' %}
{% endif %}
{% if page.footer_bottom_left or page.footer_bottom_right %}
  {% include '@thex/template-parts/footer/footer-bottom-blocks.html.twig' %}
{% endif %}
{% if all_icons_show %}
<div class="footer footer-social">
  <div class="container text-center">
    {% include '@edux/template-parts/components/social-icons.html.twig' %}
  </div><!-- /container -->
</div>
{% endif %}
{% if copyright_text or page.footer_bottom_last %}
  <footer class="footer-bottom footer">
    <div class="container">
      <div class="footer-bottom-container">
        {% if copyright_text %}
          {% include '@thex/template-parts/footer/footer-copyright.html.twig' %}
        {% endif %}
        {% include '@thex/template-parts/footer/footer-bottom-last.html.twig' %}
      </div><!-- /footer-bottom-container -->
    </div><!-- /container -->
  </footer><!-- /footer-bottom -->
{% endif %}

{% if scrolltotop_on %}
  <div class="scrolltop">{{ scrolltotop_icon_style | raw }}</div>
{% endif %}
{% include '@edux/template-parts/style.html.twig' %}
{% if fontawesome_four %}
  {{ attach_library('thex/fontawesome4') }}
{% endif %}
{% if fontawesome_five %}
  {{ attach_library('thex/fontawesome5') }}
{% endif %}
{% if bootstrapicons %}
  {{ attach_library('thex/bootstrap-icons') }}
{% endif %}