/**
 * footer
 */
 /* Footer */
 .footer {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
 }
.footer ul {
  list-style: none;
  padding: 0;
}
/* Footer -> Footer Top */
.footer-top-container {
  position: relative;
  padding: 1rem 0;
}
/* Footer -> 4 Column blocks */
.footer-blocks-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
  gap: 2rem;
}
.footer-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
}
/* Footer -> Footer Bottom */
.footer-bottom-blocks-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
  gap: 2rem;
}
.footer-bottom-block {
  flex: 1;
}
.footer-bottom-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
	gap: 2rem;
}
.footer-bottom-container p:last-child {
  margin: 0;
}
.footer-bottom-last-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-bottom-last-menu li {
  display: inline-block;
  padding-left: 1rem;
}
