/* Nodes */
.node,
.node-promoted,
.node-sticky,
.node-view-mode-full,
.node-unpublished {
  position: relative;
}
.node-view-mode-teaser {
  position: relative;
  margin-bottom: 4rem;
  border-bottom: 4px double var(--border);
}
.node-view-mode-teaser.node-sticky {
  border: 2px solid var(--border);
  padding: 1rem;
}
.node-view-mode-full .node-taxonomy-container {
  margin: 0;
}
