{% include '@edux/template-parts/header/header.html.twig' %}
{% if slider_show %}
  {% include '@edux/template-parts/slider.html.twig' %}
{% endif %}
{% if page.highlighted %}
  {% include '@thex/template-parts/highlighted.html.twig' %}
{% endif %}
<div class="main-wrapper">
  {% if page.content_home_top %}
    {% include '@thex/template-parts/content-parts/content_home_top.html.twig' %}
  {% endif %}
  <div class="container">
    <div class="main-container">
      {% if front_sidebar %}
        <main id="main" class="frontpage-main main-content">
      {% else %}
        <main id="front-main" class="frontpage-main main-content">
      {% endif %}
        <a id="main-content" tabindex="-1"></a>
        {% if page.content_top %}
          {% include '@thex/template-parts/content-parts/content_top.html.twig' %}
        {% endif %}
        <div class="node-content">
          {{ page.content }}
        </div>
        {% if page.content_bottom %}
          {% include '@thex/template-parts/content-parts/content_bottom.html.twig' %}
        {% endif %}
      </main>
    {% if front_sidebar and page.sidebar_first %}
      {% include '@thex/template-parts/sidebar/sidebar_left.html.twig' %}
    {% endif %}
    {% if front_sidebar and page.sidebar_second %}
      {% include '@thex/template-parts/sidebar/sidebar_right.html.twig' %}
    {% endif %}
    </div><!--/main-container -->
  </div><!--/container -->
  {% if page.content_home_bottom %}
    {% include '@thex/template-parts/content-parts/content_home_bottom.html.twig' %}
  {% endif %}
</div><!--/main-wrapper -->
{% include '@edux/template-parts/footer.html.twig' %}