<div class="header-top">
  <div class="container">
    <div class="header-top-container">
      {% include '@thex/template-parts/header/header-top-left.html.twig' %}
      {% include '@thex/template-parts/header/header-top-right.html.twig' %}
    </div><!-- /header-top-container -->
  </div><!-- /container -->
</div><!-- /header-top -->
