<div class="full-page-search">
  <div class="search-icon">
    <img src="{{ base_path ~ directory }}/images/icons/search.svg"  />
  </div> <!--/.search icon -->
  <div class="search-box">
    <div class="container">
      <div class="search-box-content">
          {{ page.search_box }}
        <div class="header-search-close">x</div>
      </div><!--/search-box-content -->
    </div><!-- container -->

  </div> <!-- /.search-box -->
</div> <!--/.full-page-search -->
