/* Sidebar
---------------------------------------- */
.sidebar .block {
  background-color: #f5f5ff;
  padding: 20px;
  margin-bottom: 2rem;
  box-shadow: 0 2px 2px var(--border);
}
.sidebar .block-title {
  font-size: 2.2rem;
  text-transform: none;
}